{% extends 'base.html.twig' %}

{% block title %}Le catalogue{% endblock %}

{% block body %}
	<h1 class="text-center margin-b-g">Boutique</h1>
	
	<div class="container margin-tb">
	    <div class="liste col-5">
            <form class="d-flex width-sm margin-left">
                <input class="form-control me-2 col-5 " type="search" placeholder="rechercher" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">ok</button>
            </form>
        </div>
		<div>
            <h3 class="margin">Catégories</h3>
        </div>
        <div class="d-flex margin-left">
            <form>
                <select name="genre_search">
                    {% for genre in genres %}
                        <option>
                            {{genre}}
                        </option>
                    {% endfor %}
                </select>
			</form>
	    </div>
		<div class="row">
			{# Génération dynamique des articles #}
			{% for article in articles %}
				<div class="col-3 margin-tb">
					<div class="row height">
						<div class="col-sm margin-left card">
							<div class="width-img bg-dark">
								<img src="{{ article.photo1 }}" class="card-img-top" alt="...">
							</div>
							<div class="rgba">
                                <h5 class="card-title">{{article.designation}}</h5>
                            </div>
                            <div class="d-flex justify-content-center position">
								<a href="#" class="btn btn-primary">Ajouter au panier</a>
						    </div>
						</div>
					</div>
				</div>

			{% endfor %}

			{# Boutons Précédent et suivant #}
			<center>
			<div class="col-12">
				{% if previous >= 0 %}
					<a href="{{ path('homepage', { offset: previous }) }}" class="btn btn-md btn-primary">Précédent</a>
				{% endif %}

				Il y a
				{{ articles|length~' article'~( articles|length > 1 ? 's' : '') }}

				{% if next < articles|length %}
					<a href="{{ path('homepage', { offset: next }) }}" class="btn btn-md btn-primary">Suivant</a>
				{% endif %}
			</div>
			</center>
		</div>
	</div>


{% endblock %}
