{% extends 'base.html.twig' %}

{% block title %}Le catalogue
{% endblock %}

{% block body %}
	<h1 class="text-center margin-t-g">Boutique</h1>

	{# Formulaires de recherche #}
	<div class="w-50 centrage">
		<form class="input-group">
			<input class="form-control" type="search" placeholder="Rechercher" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">
				<img src="/images/loupe.png" class="loupe" alt="" width="20px"/>
			</button>
		</form>
	</div>

	<center>
		<div class="filter">
			<h3 class="margin">Recherche par...</h3><br>
			<form>
				<div id="search">
					<label>Type :</label>
					<select name="type_search">
						<option></option>
						{% for type in types %}
							<option {{(type == type_search) ? 'selected'}}>
								{{type}}
							</option>
						{% endfor %}
					</select>
					<label>Genre :</label>
					<select name="genre_search">
						<option></option>
						{% for genre in genres %}
							<option {{(genre == genre_search) ? 'selected'}}>
								{{genre}}
							</option>
						{% endfor %}
					</select>
				</div>

				{# affiche le prix sélectionné #}
				<div id="prix">
					<label>
						Prix min. :
					</label>
					<input type="number" name="min_price" class="border border-primary btn btn-sm" {{(min_price == min_price) ? 'selected'}}
						{% if min_price > 0 %}
							value="{{ min_price }}"
						{% endif %}
					>
					<label>
						Prix max. :
					</label>
					<input type="number" name="max_price" class="border border-primary btn btn-sm" {{(max_price == max_price) ? 'selected'}}
						{% if max_price > 0 %}
							value="{{ max_price }}"
						{% endif %}
					>
				</div>
				&nbsp;
				<button class="btn btn-outline-secondary" type="submit">Valider
				<img src="/images/tick-mark.png" alt="" width="20px"/>
				</button>
		
			</form>
		</div>
	</center>

	<div class="container margin-tb">

		<div
			class="row">
			{# Génération dynamique des articles #}
			{% for article in articles %}
				<div class="col-3 margin-tb">
					<div class="row height">
						<div class="col-sm margin-left card container-hover">
							<div class="width-img hover">
								<a href="{{ path('detail_article', {id: article.id}) }}">
									<img src="{{ article.photo1 }}" class="card-img-top" alt="..."></a>
							</div>
							<div class="rgba">
								<h5 class="card-title text-light">{{article.designation}}</h5>
							</div>

							<div class="d-flex justify-content-center position">
								<a href="{{ path("panier_add_article", {'id': article.id}) }}" class="btn btn-primary">Ajouter au panier
								<img src="/images/plus.png" alt="" width="20px"/>
								</a>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}

			{# Boutons Précédent et suivant #}
			<center>
				<div class="col-12">
					{% if previous >= 0 %}
						<a href="{{ path('homepage', { offset: previous }) }}" class="btn btn-md btn-primary">
						<img src="/images/previous.png" alt="" width="20px"/>
						Précédent</a>
					{% endif %}

					Il y a
					{{ articles|length~' article'~( articles|length > 1 ? 's' : '') }}

					{% if next < articles|length %}
						<a href="{{ path('homepage', { offset: next }) }}" class="btn btn-md btn-primary">Suivant
						<img src="/images/next-button.png" alt="" width="20px"/></a>
						
					{% endif %}
				</div>
			</center>
		</div>
	</div>

{% endblock %}